@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .animate-spin-slow {
    animation: spin-border 4s linear infinite;
  }
  .group-hover\:paused:hover {
    animation-play-state: paused;
  }
  @keyframes spin-border {
    to {
      transform: rotate(-360deg);
    }
  }
}
